Phase1-Project2-CallNotesFollowup.json
{
  "name": "Phase1-Project2-CallNotesFollowup",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "call-notes-intake",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -704,
        -144
      ],
      "id": "f3687499-7c03-4677-b695-e2dd2c37f551",
      "name": "Webhook",
      "webhookId": "fe13fb41-a17c-4b29-bf39-56b676685fef"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-5\",\n  \"max_tokens\": 1024,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"You are helping a consultant process rough call notes into a follow-up pack.\\n\\n<call_notes>\\n{{$json.body.call_notes}}\\n</call_notes>\\n\\n<instructions>\\n1. Identify 2-4 key takeaways from the call\\n2. Extract specific action items (who owns what, if mentioned)\\n3. Draft a short, professional follow-up email (3-5 sentences) summarizing the call and next steps\\n4. Suggest a reasonable timeframe for the next meeting/check-in\\n</instructions>\\n\\nRespond with ONLY a JSON object matching this shape: {\\\"key_takeaways\\\": [array of strings], \\\"action_items\\\": [array of strings], \\\"follow_up_email_draft\\\": string, \\\"next_meeting_suggestion\\\": string}. No markdown, no backticks, no preamble.\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -480,
        -144
      ],
      "id": "24d13273-8f39-428a-8fb4-771589ac54ff",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "r0C14zXFELMOIUg9",
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const blocks = $input.item.json.content;\nconst textBlock = blocks.find(block => block.type === 'text');\nlet text = textBlock.text;\ntext = text.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\nconst parsed = JSON.parse(text);\nreturn [{ json: parsed }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        -144
      ],
      "id": "43e5071a-091b-41fb-ab4b-7eac83d5c505",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        -144
      ],
      "id": "eceb3c9c-aedc-4bb3-b7fe-9a82c470f630",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        128,
        -144
      ],
      "id": "6571e3e7-75f3-4eef-97c5-8847132ec905",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "dbf5b04f-024c-4fbb-9ed0-e28c73e96497",
  "meta": {
    "instanceId": "a96ac31eecc9543dd350327d8cc595e44b7957899f06e51f1a0f021244438901"
  },
  "nodeGroups": [],
  "id": "ukwSctmwEJVBxTKV",
  "tags": []
}