Phase1-StructuredJSON-Test2.json
{
  "name": "Phase1-StructuredJSON-Test2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "6760c779-3dfe-4023-9896-09b803942b63",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "specifyHeaders": "=keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 1024,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"You are analyzing a prospect statement to extract sales-relevant signals.\\n\\n<prospect_statement>\\nWe're spending too much on cloud costs and need to cut our AWS bill by 30% this quarter. Also our current vendor's support has been slow to respond.\\n</prospect_statement>\\n\\n<instructions>\\nThink through this step by step:\\n1. Identify all distinct pain points mentioned (there may be more than one)\\n2. Assess overall urgency based on language cues like deadlines, dollar figures, or frustration\\n3. Suggest a specific outreach angle\\n</instructions>\\n\\n<example>\\nInput: 'Our onboarding takes 3 weeks and clients are churning before they even get set up.'\\nOutput: {\\\"pain_points\\\": [\\\"slow onboarding\\\", \\\"client churn\\\"], \\\"urgency\\\": \\\"high\\\", \\\"suggested_angle\\\": \\\"Lead with a case study on cutting onboarding time in half\\\"}\\n</example>\\n\\nRespond with ONLY a JSON object matching this shape: {\\\"pain_points\\\": [array of strings], \\\"urgency\\\": \\\"low\\\"|\\\"medium\\\"|\\\"high\\\", \\\"suggested_angle\\\": string}. No markdown, no backticks, no preamble, no explanation — just the raw JSON object.\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "3e95765f-7af9-4c43-8160-cd655d7d9b68",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "r0C14zXFELMOIUg9",
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d251dc9a-899d-46fb-9df2-ec89cffdae7f",
              "name": "pain_points",
              "value": "={{ $json.pain_points }}",
              "type": "array"
            },
            {
              "id": "d44518d3-f3f1-45d1-891c-31c812ee7040",
              "name": "urgency",
              "value": "={{ $json.urgency }}",
              "type": "string"
            },
            {
              "id": "1c212c10-5650-4c47-9c61-9a42493fce8b",
              "name": "suggested_angle",
              "value": "={{ $json.suggested_angle }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        0
      ],
      "id": "fba6953d-8e6a-40db-9c1b-89756d1a3e73",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "const parsed = JSON.parse($input.item.json.content[0].text);\nreturn [{ json: parsed }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "4ad50f89-f2f0-4e5a-a69c-68a33681e3f0",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "54ac73e1-0c13-4d29-9568-b3319c3bdf2a",
  "meta": {
    "instanceId": "a96ac31eecc9543dd350327d8cc595e44b7957899f06e51f1a0f021244438901"
  },
  "nodeGroups": [],
  "id": "gZAd2iFDcGWN0NQT",
  "tags": []
}